input {
  width: 200px;
  padding: 10px 10px;
  font-size: 30px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 3px 3px 10px hotpink;
  margin-top: 15px;
  border-radius: 20px 4px;
}

input::placeholder {
  opacity: 0.4;
}

input:focus {
  outline: none;
  box-shadow: 0 0 3px 3px orange;
}
