input {
  width: 200px;
  padding: 10px 10px;
  font-size: 30px;
  background-color: whitesmoke;
  border: 0;
  box-shadow: 3px 3px 10px hotpink;
  margin-top: 15px;
}

input::placeholder {
  opacity: 0.4;
}
